// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// ===== VARIABLE CSS =====
:root {
  // header height
  --header-height: 6rem;

  // color palette
  --title-color: #131417;
  --text-color: #494a50;
  --green-color: #09db83;
  --yellow-color: #ffbb00;
  --container-color: #ffffff;

  // font body
  --font-body: "Poppins", sans-serif;

  // font weight
  --font-reguler: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  // margin
  --margin-0-5: 0.5rem;
  --margin-1: 1rem;
  --margin-1-5: 1.5rem;
  --margin-2: 2rem;
  --margin-2-5: 2.5rem;
  --margin-3: 3rem;
  --margin-3-5: 3.5rem;
  --margin-4: 4rem;

  // z-index
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;

  // transition
  --transition-400: 0.4s;

  // line-height
  --leading-text: 185%;
}

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-weight: var(--font-reguler);
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS =====
.section {
  padding: 8rem 0 4rem;

  &-title {
    font-size: 24px;
    font-weight: var(--font-semibold);
    color: var(--title-color);
    margin-bottom: var(--margin-1);
  }

  &-text {
    font-size: 15px;
    color: var(--text-color);
    line-height: var(--leading-text);
  }

  &-bottom {
    margin-bottom: var(--margin-2);
  }
}

.button {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--green-color);
  border: 2px solid #131417;
  border-radius: 12px;
  font-size: 16px;
  font-weight: var(--font-semibold);
  color: var(--title-color);
}

.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 auto;
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: var(--transition-400);

  // sticky action
  &.sticky-action {
    box-shadow: 0 2px 12px rgba($color: #000000, $alpha: 0.1);
  }

  &__container {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 22px;
    font-weight: var(--font-bold);
    color: var(--title-color);
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: var(--container-color);
      border-radius: 12px;
      box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.1);
      transition: var(--transition-400);
      opacity: 0;
      transform: scale(0);
      transform-origin: top right;
    }

    // show menu
    &.show-menu {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    font-size: 15px;
    color: var(--text-color);

    &:hover {
      color: var(--green-color);
    }
  }

  &__theme {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__button {
    margin-top: var(--margin-1-5);
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
  }
}

// ===== HOME SECTION =====
.home {
  &__container {
    display: grid;
    gap: 3rem;
  }

  &__data,
  &__img {
    justify-self: center;
    text-align: center;
  }

  &__title {
    font-size: 38px;

    &-bg {
      display: inline-flex;
      padding: 0.2rem 0.5rem;
      background-color: var(--yellow-color);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &-help {
      font-size: 15px;
      font-weight: var(--font-semibold);
      color: var(--title-color);
      text-decoration: underline;
    }
  }
}

// ===== ABOUT SECTION =====
.about {
  &__wrapper {
    display: grid;
    gap: 3rem;
  }

  &__data {
    justify-self: center;
    text-align: center;
  }

  &__group {
    display: grid;
    gap: 4rem;
  }

  &__content {
    text-align: center;
    display: grid;
    gap: 2rem;

    &-img,
    &-data {
      justify-self: center;
    }

    &-button {
      display: inline-flex;
    }
  }
}

// ===== CALLBACK SECTION =====
.callback {
  &__wrapper {
    position: relative;
    display: grid;
    padding: 6rem 2rem;
    border-radius: 12px;
    overflow: hidden;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80%;
    opacity: 0.8;
    z-index: var(--z-back);
  }

  &__data {
    justify-self: center;
    text-align: center;
  }

  &__button {
    display: inline-flex;
  }
}

// ===== FOOTER SECTION =====
.footer {
  padding: 8rem 0 0;

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 3rem;
  }

  &__data-text {
    font-size: 15px;
    color: var(--text-color);
    line-height: var(--leading-text);
    padding-top: 0.5rem;
  }

  &__content {
    &-title {
      font-size: 20px;
      font-weight: var(--font-semibold);
      color: var(--title-color);
      margin-bottom: 1.5rem;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &-link {
      font-size: 15px;
      color: var(--text-color);

      &:hover {
        color: var(--green-color);
        text-decoration: underline;
      }
    }
  }

  &__copy {
    background-color: var(--title-color);
    font-size: 15px;
    color: var(--container-color);
    text-align: center;
    padding: 2rem 1.5rem;
    margin-top: 120px;
  }
}

// ===== SCROLLUP SECTION =====
.scrollup {
  position: fixed;
  bottom: -100%;
  right: 1.5rem;
  display: inline-flex;
  padding: 0.5rem;
  background-color: var(--green-color);
  border: 2px solid #131417;
  border-radius: 8px;
  font-size: 1.5rem;
  color: var(--title-color);
  transition: var(--transition-400);

  // scroll action
  &.scroll-action {
    bottom: 4rem;
  }
}

// ===== MEDIA QUERIES =====
// width 480px
@media screen and (min-width: 480px) {
  .home__data,
  .about__content-data {
    width: 400px;
  }

  .home__img,
  .about__content-img {
    width: 400px;
  }
}

// width 640px
@media screen and (min-width: 640px) {
  .home__data,
  .about__data,
  .about__content-data,
  .callback__data {
    width: 450px;
  }

  .home__img,
  .about__content-img {
    width: 450px;
  }

  .home__buttons {
    flex-direction: row;
  }
}

// width 767px
@media screen and (min-width: 767px) {
  .header {
    &__menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }

    &__list {
      flex-direction: row;
    }

    &__theme {
      position: static;
    }

    &__button {
      margin-top: 0;
    }

    &__toggle {
      display: none;
    }
  }
}

// width 968px
@media screen and (min-width: 968px) {
  .header {
    &__container {
      position: relative;
    }

    &__list {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      gap: 2rem;
    }
  }

  .home {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &__data {
      justify-self: flex-start;
      text-align: left;
    }

    &__buttons {
      justify-content: flex-start;
    }

    &__data,
    &__img {
      width: auto;
    }
  }

  .about {
    &__group {
      gap: 6rem;
    }

    &__data {
      width: 650px;
    }

    &__title,
    &__content-title {
      font-size: 32px;
    }

    &__content {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;

      &-data {
        justify-self: flex-start;
        text-align: left;
      }

      &-title {
        width: 400px;
      }

      &-data,
      &-img {
        width: auto;
      }
    }

    &__content:nth-child(2) .about__content-img {
      order: 2;
    }
  }

  .callback {
    &__data {
      width: auto;
    }

    &__title {
      font-size: 32px;
    }

    &__text {
      width: 550px;
      margin: 0 auto 2rem;
    }
  }
}

// width 1120px
@media screen and (min-width: 1120px) {
  .home {
    &__title {
      font-size: 52px;
      width: 480px;
    }

    &__text {
      width: 480px;
    }
  }

  .about {
    &__data {
      width: 850px;
    }

    &__title {
      font-size: 42px;
    }

    &__content-text {
      width: 490px;
    }
  }

  .callback__title {
    font-size: 42px;
  }

  .footer {
    &__data-text {
      width: 270px;
    }

    &__content {
      justify-self: flex-end;
    }
  }
}
